.nav {
    position: fixed; /*everytime I give this attribute, I have to make sure I give "width" along with it"*/
    width: 100%;
    padding: 20px 50px;
    left: 0px;
    bottom: 0px;
    background-color: #fcfcfc;
    border-top: 1px solid #f7f7f7;
}

.nav .nav__list{
    display: flex;
    justify-content: space-between;
   }

.nav i{
    font-size: 20px;
}